Repository kool-dev/kool, pull requests merged in 2022-07, with the labels that each got.

#417 improve error message on script called without the 'run' command
  commands/kool_upgrade_available_checker.go
  commands/root.go
  commands/start.go
  commands/stop.go
Labels: enhancement

#423 chore: improved release drafter configuration
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release-drafter.yml
Labels: release-drafter:changed

#425 fix: fixed release drafter workflow
  .github/workflows/release-drafter.yml
Labels: release-drafter:fixed

#426 fix: fixed release drafter permissions
  .github/workflows/release-drafter.yml
Labels: release-drafter:fixed

#421 Updating versions
  Dockerfile
  go.mod
  go.sum
  kool.yml
Labels: enhancement

#427 fix: fixed release drafter config
  .github/workflows/release-drafter.yml
Labels: release-drafter:fixed

#428 fix: missing permission to create release
  .github/workflows/release-drafter.yml
Labels: release-drafter:fixed

#422 fix: removed direct references of unix commands
  .editorconfig
  build_artifacts.sh
  docs/1-Getting-Started/3-How-it-works.md
  docs/1-Getting-Started/4-Starting-new-project.md
  docs/2-Presets/CodeIgniter.md
  docs/2-Presets/Laravel.md
  make_release.sh
  presets/codeigniter/codeigniter-scripts.yml
  presets/laravel/laravel-scripts.yml
  templates/scripts/laravel.yml
Labels: release-drafter:fixed

#431 Release drafter version resolver
  .github/release-drafter.yml
Labels: release-drafter:changed

#430 feat: updated docker-compose service image version
  services/compose/docker-compose.go
Labels: release-drafter:changed

#432 fix: codeigniter preset
  docs/2-Presets/CodeIgniter.md
  presets/codeigniter/config.yml
Labels: release-drafter:fixed, release-drafter:documentation, release-drafter:patch

#434 Fixing kool version no docker image
  Dockerfile
Labels: release-drafter:fixed

#433 add: nest+next preset + docs
  README.md
  commands/docker.go
  commands/docker_test.go
  docs/2-Presets/1-Creating-a-Preset.md
  docs/2-Presets/2-Monorepo-NestJS-with-NextJS.md
  docs/2-Presets/AdonisJs.md
  docs/2-Presets/NestJS.md
  presets/adonis/config.yml
  presets/nest+next/config.yml
  presets/nest+next/env.dist
  presets/nest+next/gitignore
  presets/nest+next/nest+next-docker-compose.yml
  presets/nest+next/nest+next-kool.yml
  presets/nestjs/config.yml
Labels: release-drafter:added, release-drafter:changed, release-drafter:documentation, release-drafter:minor, release-drafter:patch

#436 fix: fixed go cobra dependencies for generating docs
  go.mod
  go.sum
Labels: release-drafter:fixed, release-drafter:patch
